<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/todos" method="post">
    <input name = "newtodo">
    <input type = "submit">

    </form>
    <ul>
        {{#each todos as |todos|}}
        <li>{{todo.task}}</li>
        {{/each}}
    </ul>
</body>
</html>