<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<a href="/pages/add">Add Person</a>
    <br>
    <table border="1" cellspacing="10" cellpadding="10">
        <tr>
            <th>name</th>
            <th>age</th>
            <th>city</th>
            {{#each persons as |person|}}
            <tr>
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.city}}</td>
            </tr>
            {{/each}}
        </tr>
    </table>
</body>
</html>